{% extends "template_base.html" %}

{% block content %}
    <div class="container">
        <div class="container d-flex justify-content-between">
            <h2>Mis Contratos</h2>
            <a href="{% url 'crear_contrato' %}"><button class="btn btn-success">Crear Contrato</button></a>
        </div>
        {% if contratos %} 
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°. Contrato</th>
                        <th scope="col">Fecha Registro</th>
                        <th>Tipo de Servicio</th>
                        <th scope="col"></th>
                </thead>
                <tbody>
                    {% for contrato in contratos %}
                        <tr>
                            <th scope="row">Contrato #{{contrato.id}}</td>
                            <td>{{contrato.fecha_creacion}}</td>
                            <td>{{contrato.servicio.nombre}}</td>
                            <td><a class="btn btn-primary" href="{% url "ver_facturas" contrato.id %}">Ver Facturas</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <span class="d-flex flex-column align-items-center justify-content-center">
                <i class="fa-solid fa-business-time icono-sin-contratos"></i>
                <p class="my-2">Ups! Parece que aún no tienes contratos creados</p>
            </span>
        {% endif %}
    </div>
{% endblock %}