{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Facturación de Servicios Públicos de Medellín</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Tu archivo CSS adicional -->
</head>
<body>
    <h1 class="text-center bg-primary text-light p-2">Sistema de Facturación de Servicios Públicos de Medellín</h1>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link {% if current_page == "inicio" %}active{% endif %}" href="{% url 'inicio' %}">Inicio</a>
                    <a class="nav-item nav-link {% if current_page == "contratos" %}active{% endif %}" href="{% url 'ver_contratos' %}">Contratos</a>
                    <a class="nav-item nav-link {% if current_page == "facturacion" %}active{% endif %}" href="{% url 'inicio' %}">Facturación</a>
                </div>
                {% if current_page != "iniciar_sesion" and request.session.usuario is None %}
                    <a class="nav-item btn btn-success" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
                {% endif %}
                {% if request.session.usuario %}
                    <a class="nav-item btn btn-danger" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                {% endif %}
            </div>
          </nav>
    </header>

    <main class="container my-4">
        {% block content %}
        
        <!-- Contenedor para la imagen centrada -->
        <div class="text-center my-4">
            <img src="{% static 'img/image2.jpeg' %}" alt="NUESTROS SERVICIOS" class="img-fluid" width="800" height="auto">
        </div>
        {{request.session.usuario}}

        {% endblock %}
    </main>

    {% if messages %}
        {% for message in messages %}
            <div class="position-absolute notification m-5 w-25 alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <footer class="bg-primary text-white text-center py-2">
        <p>&copy; {{ current_year }} Sistema de Facturación de Servicios Públicos de Medellín</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
